{% extends 'base.html' %}

{% block title %}Home | Add Tutorial{% endblock %}

{% block extra_styles %}
    {{ block.super }}
    <style>
        .container {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 30px;
            width: 90%;
            max-width: 500px;
            text-align: center;
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        form p {
            margin-bottom: 15px;
        }
        input, button {
            font-size: 16px;
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
        }
        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Add Tutorial</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Tutorial</button>
        </form>
    </div>
{% endblock %}
